* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background: #f1f1f1;
}

/* Sidebar yung nasa left side */
.sidebar {
  width: 250px;
  background-color: #161515;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 15px 10px;
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: #e6e6e6;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar ul li a i {
  margin-right: 10px;
  font-size: 22px;
}

.sidebar ul li:hover {
  background: #333;
  border-radius: 5px;
}



/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin-bottom: 10px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.card p {
  font-size: 16px;
  color: #555;
}

.icon {
  font-size: 30px;
  color: #ffd700;
  margin-bottom: 10px;
}


 /* For horizontal scroll track */
    .scrollbar-thin::-webkit-scrollbar {
      height: 8px;
    }
    .scrollbar-thin::-webkit-scrollbar-thumb {
      background-color: #a1a1aa; /* Tailwind gray-400 */
      border-radius: 9999px;
    }
    .scrollbar-thin {
      scrollbar-width: thin;
      scrollbar-color: #a1a1aa transparent;
    }